@charset "UFT-8";

*{
    padding: 0px;
    margin: 0px;

}
html,body{
    width: 100vw;
    height: 100vh;
   
}
main{
    height: 100vh;
    position: relative;
   background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    
}
section#celular{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: url('../imagens/frame-iphone.png');
    width: 311px;
    height: 627px;
}
iframe#tela{
position: relative;
top: 80px;
left: 21px;
width: 269px;
height: 472px;

}
section#redes{
    text-align: right;

}
section#redes img{
    width: 50px;
    border-radius: 50px;
    margin: 10px;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}
section#redes img:hover{
    border: 2px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    transform: translate(-3px,-3px);
    transition: transform .3s, border .3s;
}
